.title {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.text {
  text-align: center;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#btn {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background-color: blanchedalmond;
    color: brown;
    border: 1px solid burlywood;
    cursor: pointer;
}
